body {
	background:#ccf8ff;
	font-family: Avenir;
}

h1 {
	background: #99dae4;
	color: #173028;
	padding: 5px 10px 5px 10px;
	margin: 15px 0px 0px 0px;
	border-radius: 5px;

}
h4 {
	color: #305d4f;
}
p {
	color: #305d4f;
}

nav ul{
	color:#305d4f;
}

ul{

}

nav ul li{
	padding: 5px 10px;
	display: inline-block;

	list-style: none;
	background:#abe4ed;
	color:#305d4f;
}

.URLs {
	color:#344a4a;
}

div.row{

}

.col{
	background:#99dae4;
	color: #305d4f;
	margin: 1%;
	padding: 1%;
	float:left;
	width: 16%;
	border-radius: 5px;
}

footer{
	clear: both;
}