body {
	background:#dbf9fe;
	font-family: Avenir;
	height: 100%;
}

h1 {
	font-weight: 200;
	background: #99dae4;
	color: #173028;
	padding: 5px 10px 5px 10px;
	margin: 15px 0px 0px 0px;
	border-radius: 5px;

}
h4 {
	color: #305d4f;
	font-weight: 200;
}
p {
	color: #305d4f;
}

nav ul{
	color:#305d4f;
}

ul{
	color:#305d4f;

}

nav ul li{
	padding: 5px 10px;
	display: inline-block;

	list-style: none;
	background:#abe4ed;
	color:#305d4f;
}

.URLs {
	color:#344a4a;
}

div.row{

}

.col{
	background:#99dae4;
	color: #305d4f;
	margin: 1%;
	padding: 1%;
	float:left;
	width: 16%;
	border-radius: 5px;
}

.return{
	float:right;
	font-weight: 100;
	background:#144952;
	color:#ebf8fa;
	margin: 0;
	padding: 0% 1%;
	border-radius: 5px;
}

.first {
	margin: 8% 5% 1% 2%;
}
.middle {
	margin: 1% 5% 1% 2%;
}
.last {
	margin: 1% 5% 4% 2%;
}

footer{
	font-weight: 200;
	background: #99dae4;
	color: #173028;
	padding: 5px 10px 5px 10px;
	margin: 15px 0px 0px 0px;
	border-radius: 5px;
	clear: both;
	position:fixed;
	bottom:0;
	padding:0.5% 51.5% 0.5% 0.5%;
	margin:0.5% 0%;
}
